<div class="header">
  <mat-toolbar>
    <span><img src="../../assets/Image/deloitte_logo.jpg"></span>

    <nav>
      <ul>
        <li><a [routerLink]="['/home/reporting']" routerLinkActive="active">Dashboard</a></li>
        <li><a [routerLink]="['/home/validation']" routerLinkActive="active">Data Validation</a></li>
      </ul>
    </nav>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <!--<span class="logout">Logout</span>-->
  </mat-toolbar>
</div>
<router-outlet></router-outlet>