<div class="landing-content">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <i><span style="color:red;font-size:12px">* </span><span style="font-size:12px">marked fields are mandatory</span></i>
      <table class="warehouse-dropdown">
        <thead></thead>
        <tbody>
          <td>
            <label>Select Cloud Data Warehouse</label><span>*</span>
            <select name="warehouseType" [(ngModel)]="details.warehouseType" (change)="warehouseChanged($event.target.value)"> 
                <option value="" disabled selected>---Select---</option>
                <option *ngFor="let type of warehouseType" [value]="type.value">{{type.title}}</option> 
            </select>
          </td>
          <!--<td>
            <input matbInput type="text" [(ngModel)]="details.sourceSchema" name="sourceSchema"
            placeholder="Source Schema" required >
            <span>*</span>
          </td>
          <td>
            <input matbInput type="text" [(ngModel)]="details.stagingSchema" name="stagingSchema"
            placeholder="Staging Schema" required >
            <span>*</span>
          </td>
          <td>
            <input matbInput type="text" [(ngModel)]="details.targetSchema" name="targetSchema"
            placeholder="Target Schema" required >
            <span>*</span>
          </td>-->
        </tbody>
      </table>
      <div class="connection-details">
        <table *ngIf="details.warehouseType=='Snowflake'">
          <thead></thead>
          <tbody>
            <td>
              <label>Enter Server Details</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.server" name="server" required >
            </td>
            <td>
              <label>Enter Username</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.username" name="username" required >
            </td>
            <td>
              <label>Enter the warehouse</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.warehouse" name="warehouse" required >
            </td>
            <td>
              <label>Enter Database Name</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.dbName" name="dbName" required >
            </td>
          </tbody>
        </table>
      </div>
      <table>
          <thead></thead>
          <tbody>
            <td>
              <label>Enter Table Name to Validate</label><span>*</span>
              <select name="tableName" [(ngModel)]="details.table_to_validate"> 
                <option value="" disabled selected>--- Select ---</option>
                <option *ngFor="let table of tablesList" [value]="table">{{table}}</option> 
              </select>
            </td>
            <td>
              <label>Select Type of Validation to Perform</label><span>*</span>
              <select name="validationType" [(ngModel)]="details.validationType"> 
                <option value="" disabled selected>--- Select ---</option>
                <option *ngFor="let type of validationType" [value]="type.value">{{type.title}}</option> 
              </select>
            </td>
            <td>
              <label>Enter Column to Validate</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.column_to_validate" name="column_validate" required>
            </td>
            <td></td>
          </tbody>
        </table>
        <button mat-raised-button (click)="explore()">Validate</button>
        <div class="horizontal-separator"></div>
        <div class="table-wrapper" *ngIf="isValidated">
          <a [routerLink]="['/home/reporting']"><i>Go to reporting dashboard</i></a>
          <p class="table-header">Validation Execution Summary Report</p>
          <table id="output-table">
            <thead>
                <tr>
                  <th *ngFor="let header of headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table_data; let i=index">
                <td>{{data.batch_date}}</td>
                <td>{{data.table_name}}</td>
                <td>{{data.error_code}}</td>
                <td>{{data.error_desc}}</td>
                <td>{{data.error_severity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </mat-card-content>
  </mat-card>
  
</div>
