.header {
    height: 8vh;
    color: #fff;

    mat-toolbar {
        padding:0;
        height: 8vh;

        img {
            width: 19vh;
        }

        .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
            Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
        }
    }

    .mat-toolbar {
        background: #000;
        border-bottom: 4px solid #70c730;
        padding: 1vh;
    }
}

.landing-content {
    mat-card  {
        height: 85vh;
        width: 97%;
        margin: 10px;
    }

    table {
        width: 80%;
        margin: 1vh 0;

        tbody {
            td {
                width: 25%;

                span {
                    color: red;
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 2px;
                }
            }
            select, input {
                width: 285px;
                border-radius: 6px;
                padding: 10px;
            }
            input {
                width: 80%;
                border: 1px solid gray;
            }
        }
    }

    table.warehouse-dropdown {
        width: 20%;
    }
    
    button {
        margin: 0px 77vh;
        background: #70c730;
        color: #fff;
    }

    div.horizontal-separator {
        border: 4px solid #70c730;
        margin: 20px 0;
    }
    
    div.table-wrapper {
        margin-top: 4vh;
    }

    p.table-header {
        font-size: 20px;
        color: #70c730;
        font-weight: bold;
        text-decoration: underline;
    }

    table#output-table {
        width: 100%;
        text-align: left;
        margin: 20px 2px;
        border: 3px solid gray;

        thead {
            background: #000;
            color: #fff;
        }
        th, td {
            padding: 10px;
            width: fit-content;
        }

        tbody tr:nth-child(even) {
            background-color: rgba(119, 201, 59, 0.2);
        }
    }
}