<section class="chart-wrapper">
  <div class="chart-container">
    <mat-card>
      <mat-card-content>
        <div class="graph-wrapper">
          <div class="dropdown-wrapper">
            <p><b>Rolling Period</b></p>
            <select name="rollingPeriod" [(ngModel)]="rollingPeriod" (change)="periodChanged($event.target.value)">
              <option *ngFor="let period of periods" [value]="period.value">{{period.title}}</option> 
          </select>
          </div>
          <div id="chart1"></div>
        </div>
        <div class="vertical-separator"></div>
        <span class="div-info">**<i>Data displayed below if for current month</i></span>
        <div class="table-wrapper">
          <p class="table-header">Current vs Prior Month Error Trend</p>
          <table id="dashboard-table-1" class="table table-striped">
            <thead>
                <tr>
                  <th *ngFor="let header of table1_headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table1_data; let i=index">
                <td>{{data.type}}</td>
                <td>{{data.error_count}}</td>
                <td>
                  <i *ngIf="data.indicator == 'down'" class="fa fa-caret-down" style="color:red; font-size:16px" aria-hidden="true"></i>
                  <i *ngIf="data.indicator == 'up'" class="fa fa-caret-up" style="color:green; font-size:16px" aria-hidden="true"></i> 
                  {{data.prior}}
                </td>
              </tr>
            </tbody>
          </table>
          <p class="table-header">Data Reconciliation at Key Metric Level</p>
          <table id="dashboard-table-2">
            <thead>
                <tr>
                  <th *ngFor="let header of table2_headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table2_data; let i=index">
                <td>{{data.Batch_Date}}</td>
                <td>{{data.Table_Name}}</td>
                <td>{{data.Metric_Name}}</td>
                <td>{{data.SRC_Value}}</td>
                <td>{{data.STG_Value}}</td>
                <td>{{data.TGT_Value}}</td>
                <td>{{data.Status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
