.chart-wrapper {
    width: 100vw;

    mat-card {
        height: 88vh;
        margin: 1vh;
        padding: 5px;

        .graph-wrapper {
            width: 48vw;
            float: left;
            .dropdown-wrapper {
                select {
                    padding: 5px;
                    border-radius: 6px;
                }
            }
    
            #chart1 {
                height: 43vh;
                margin: 8vh 3vh;
            }
        }

        .vertical-separator {
            border: 2px solid #70c730;
            float: left;
            height: 87vh
        }

        span.div-info {
            margin: 24px;
            color: gray;
            text-decoration: underline;
            font-weight: bold;
            font-size: 12px;
        }

        .table-wrapper {
            margin-top: 1vh;
            width: 48vw;
            float: right;
            padding: 0 2vh 0 3vh;

            p.table-header {
                font-size: 20px;
                color: #70c730;
                font-weight: bold;
                text-decoration: underline;
            }

            #dashboard-table-1, #dashboard-table-2 {
                text-align: left;
                border: 3px solid gray;
                width: 95%;
                margin-bottom: 4vh;
    
                thead {
                    background: #000;
                    color: #fff;
                }
                th, td {
                    padding: 10px;
                    border-right: 1px solid #70c730;
                }

                tbody tr:nth-child(even) {
                    background-color: rgba(119, 201, 59, 0.2);
                }
            }
        }
    }  
}